.fondo{background-color: plum;

}
.parrafo{text-align: center;
font-size: 25px;
}
.texto{
    text-align: center;
    font-style: oblique;
    font-size: 20px;
}
.j{text-align: right;
font-size: 30px;
}
.t{font-size: 45px}
.h{
    font-size: 25px
}